<h1>Flights</h1>

<%= render "search_form", flight: @flight %>

<div id="flights">
  <% @flights.each do |flight| %>
    <%= render flight %>
    <p>
      <%= link_to "Show this flight", flight %>
    </p>
    <br>
  <% end %>
</div>

<%= link_to "New flight", new_flight_path %>
