<div id="<%= dom_id booking %>">
  <p>
    <strong>Flight:</strong>
    <%= booking.flight_id %>
  </p>

  <p>
    <strong>Number of passengers:</strong>
    <%= booking.number_of_passengers %>
  </p>

</div>
